/node_modules
/public/hot
/public/storage
/public/images
/no_api
/vendor
/old
/portfolio
/.idea
/.zip
/.env
*.env
.env
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app.zip
*.rar
*.tar
*.zip